<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scroll</key>
	<array>
		<real>2</real>
		<real>90.876953125</real>
	</array>
	<key>zoom</key>
	<real>0.58797359466552734</real>
</dict>
</plist>
