<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scroll</key>
	<array>
		<real>461.4722900390625</real>
		<real>176.14569091796875</real>
	</array>
	<key>zoom</key>
	<real>0.97838753461837769</real>
</dict>
</plist>
