<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scroll</key>
	<array>
		<real>-24.666664123535156</real>
		<real>0.33333587646484375</real>
	</array>
	<key>tempName</key>
	<string></string>
	<key>zoom</key>
	<real>0.56355416774749756</real>
</dict>
</plist>
