<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scroll</key>
	<array>
		<real>0.0</real>
		<real>1.25</real>
	</array>
	<key>zoom</key>
	<real>0.77801913022994995</real>
</dict>
</plist>
