<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scroll</key>
	<array>
		<real>59.000015258789062</real>
		<real>539.49993896484375</real>
	</array>
	<key>tempName</key>
	<string></string>
	<key>zoom</key>
	<real>0.30861642956733704</real>
</dict>
</plist>
